absl-py==0.7.0
astor==0.7.1
certifi==2018.4.16
click==6.7
Flask==1.0.2
gast==0.2.2
grpcio==1.16.1
h5py==2.9.0
itsdangerous==0.24
Jinja2==2.10
joblib==0.13.1
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
Markdown==3.0.1
MarkupSafe==1.0
mkl-fft==1.0.6
mkl-random==1.0.1
numpy==1.14.5
pandas==0.23.3
protobuf==3.6.1
pyreadline==2.1
python-dateutil==2.8.0
pytz==2018.9
PyYAML==3.13
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
tensorboard==1.12.2
tensorflow==1.12.0
Werkzeug==0.14.1
wincertstore==0.2
gunicorn==19.0.0
